@import "../breakpoints.scss";

.toast-wrapper {
  position: absolute;
  bottom: 0;
  right: 0%;
  height: 100%;
  z-index: 0;
  width: 92%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;

  &.visible {
    z-index: 999;
  }

  @include media("<SMdesktop") {
    width: 90%;
  }

  @include media("<=tablet") {
    width: 85%;
  }
  @include media("<=phone") {
    width: 82.5%;
  }
  .toast {
    z-index: 900;
    position: relative;
    width: 18rem;
    height: 5rem;

    border-radius: 8px;
    background-color: #f1f3f5;
    box-shadow: 0px 1px 3px 0px rgba(64, 64, 64, 0.24);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: -12rem;
    transition: 450ms ease-out;

    &.success {
      background-color: var(--success-100);
    }
    &.danger {
      background-color: var(--danger-100);
    }

    &.visible {
      display: flex;
      margin-bottom: 0.5rem;
    }
    h2 {
      font-family: inherit;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
    }
  }
}
