:root {
  /*Primary*/
  --primary-100: #1d888a;
  --primary-200: #197476;
  --primary-300: #27666b;
  --primary-400: #1b4647;
  --primary-500: #173838;

  /*Secondary*/
  --secondary-100: #fec834;
  --secondary-200: #fac32a;
  --secondary-300: #ebb521;
  --secondary-400: #e0aa15;
  --secondary-500: #bb8e11;

  /*Text*/
  --text: #181818;
  --text-inverted: #fbf4e4;

  /*Neutral*/
  --neutral-100: #ffffff;
  --neutral-200: #f4f5f7;
  --neutral-300: #e1e1e1;
  --neutral-400: #737581;
  --neutral-500: #4a4b53;
  --neutral-600: #000000;

  /*Success*/
  --success-100: #529e66;
  --success-200: #367b48;
  --success-300: #276738;

  /*Warning*/
  --warning-100: #e1c542;
  --warning-200: #cab23f;
  --warning-300: #b49e35;

  /*Danger*/
  --danger-100: #d0454c;
  --danger-200: #b54248;
  --danger-300: #95353a;
}
